<h2>Welcome {{ firstName }} {{ lastName }}</h2>

<div style = "text-align: center;">
    <input type="hidden" id="jwt" value = {{jwt}}>
    <img src="../assets/{{imgId}}.png" alt="Swipe left or right">
    <br>
    <span id = "imageNo" >{{imgId}}</span>
</div>
